body{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
 }

.wrapper {
  width: 600px;
  border: 1px solid #ccc;
  padding: 20px;
}

.input-box {
  width: 100%; 
  border: 2px dotted #ccc;
  height: 32px;
}

.todo-list-wrapper {
  margin-top: 18px;
  width: 100%;
}

.todo-item {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.footer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between
}

.cancel {
  text-decoration: line-through;
  color: red;
}

.disabled {
  opacity: 0.5;
}

.dragging {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 300px;
  pointer-events: none;
}

.hide {
  display: none;
}